extends layout

block content 
    h1 Update Recipe
    form(method="POST", action="/recipes/edit/" + recipe._id)  
        label Name: 
        input(name="name", type="text" value=recipe.name)
        br
        label Description: 
        input(name="description", type="text" value=recipe.description)
        br
        label Difficulty: 
        for difficulty in difficultyLevels
            label=difficulty 
            input(name="difficulty", type="radio", value=difficulty) 
        br
        label Enter ingredient (separate with commas):
            input(name="ingredients", type="text", required)
        br
        label Steps (separate with commas):
            input(name="steps", type="text", required)
        br
        input(value="Add", type="Submit")
